
<!doctype html>
<html lang="en">
    <head>
        <title>Request Header Parser Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                API: Request Header Parser Microservice
            </h1>
            <blockquote>
                User story:
                <ul>1) I can get the IP address, language and operating system for my browser.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>URL/api/whoami</code><br>
            <h3>Example output:</h3>
            <code>
                {
                  "ipaddress": "172.11.32.141",
                  "language": "sl-SI",
                  "software": "(Windows NT 10.0; Win64; x64)"
                }
            </code>
            <footer class="row navbar navbar-fixed-bottom text-center">
                <a href="https://github.com/LovroM/Whoami-ms-py">Git repo</a>
            </footer>
        </div>
    </body>
</html>